p{
    color: greenyellow;
    text-align: center;
}

body{
    background-color: gray;
}
button{
    background-color: gainsboro;
    /* background-color: rgb(255,255,00); */
    /* background-color: #ffff00; */
    color: green;
}
h1{
    color: rgb(80, 210, 93);
}
#heading{
    color: rgb(133, 39, 157);
    text-align: center;
    font-size: 100px;
}

.Myclass{
    color: rgb(95, 47, 166);
    text-align: center;
    text-decoration: blue wavy underline; 
    font-weight: 250;
    font-family: Arial, Helvetica, sans-serif;
    /* text-decoration: overline; */
    /* text-decoration: line-through; */
}
