h1{
    color: green;
}

p{
    color: greenyellow;
}

body{
    background-color: gray;
}
button{
    background-color: gainsboro;
    /* background-color: rgb(255,255,00); */
    /* background-color: #ffff00; */
    color: green;
}


