p{
    color: greenyellow;
    text-align: center;
}

body{
    background-color: gray;
}
button{
    background-color: gainsboro;
    /* background-color: rgb(255,255,00); */
    /* background-color: #ffff00; */
    color: green;
}
h1{
    color: rgb(80, 210, 93);
}
#heading1{
    color: rgb(47, 166, 47);
    text-align: center;
}

.Myclass{
    color: rgb(95, 47, 166);
    text-align: center;
}
