#box1 {
    width: 100px;
    height: 100px;
    background-image: url("leapord.jpg");
    background-size: cover ;
}
#box2 {
    width: 100px;
    height: 100px;
}
#box3 {
    width: 100px;
    height: 100px;
}
#box4{ 
    width: 100px;
    height: 100px;
}
div{
    border: 2px black solid;
    display: inline-block;
}
