h1{
    background-color: lightcoral;
    width: 200px;
    height: 50px;
    text-align: center;
    /* border-width: 3px;
    border-style: dashed;
    border-color: black; */
    border: 2px dashed black;
    border-radius: 50%;
}

div{
    height: 100px;
    width: 100px;
    background-color: pink;
    /* border-width: 2px;
    border-color: black;
    border-style: solid; */
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 10px;
}
