div{
    height: 100px;
    width: 100px;
    background-color: pink;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

h1{
    background-color: lightcoral;
    width: 200px;
    height: 50px;
    text-align: center;
    border-width: 3px;
    border-style: dashed;
    border-color: black;
}