*{
    margin: 0;
    padding: 0;
    /* color: white; */
}
#navbar{
    height: 60px;
    background-color: #0f110f;
    color: white;
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right : 200px;
    text-decoration: none;
    color: white;
}

.contentbox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}

footer{
    background-color: #0f110f;
    color: white;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}