/* 
.container{
    background-color: black;
    height: 300px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
} 

#red, #yellow, #green{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

#red{
    background-color: red;
}

#yellow{
    background-color: yellow;
}

#green{
    background-color: green;
} */

*{
    margin: 0;
    padding: 0;
    color: white;
}

#navbar{
    height: 60px;
    background-color: #0f110f;;
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right : 200px;
    text-decoration: none;
}




